NEXT_PUBLIC_DOMAIN=http://localhost:3008
NEXT_ADMIN_WALLET_PUBLIC_ADDRESS=
#0.1SOL
NEXT_MINIMUM_LAMPORTS_FOR_EACH_TASK_UPLOAD=100000000
NEXT_SIGNATURE_MESSAGE="workify wants you to sign in with your Solana account. Please sign in."